

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
  body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    background-color: #000000;
    color: #333;
  }
  
  
  header {
    background: linear-gradient(to right, #000066, #0077b6);
    text-align: center;
    color: #fff;
  }
  
  header .aura {
    font-family: 'LuxuryFont', sans-serif;
    font-size: 72px;
    color: #acf0ff; 
  }
  
  header .hotels-adventures {
    font-family: 'LuxuryFont', sans-serif;
    font-size: 36px;
    color:#acf0ff
  }

  nav {
    background-color: #000000ab;
  }
  
  nav ul {
    list-style-type: none;
    background-color:transparent;
    text-align: center;
    padding: 10px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
    padding: 20px;
  }
  
  nav li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    transition: font-size 0.3s ease-in-out;
  }
  
  nav li a:hover {
    font-size: 20px; 
    transform: scale(1.1); 
    color: #009ad6;
    transition: 0.3s;
  }
  
  section {
    margin-bottom: 20px;
  }

  
  #aura-bg{
    height: 100vh;
    border: 1px solid black;
    padding: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.3)),
      url(../Images/wang-xi-RTrZvGlvlQc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 1520px 880px;
    animation: backgroundSlide 39s linear infinite;
  }
  
  @keyframes backgroundSlide {
    0%, 100% {
      background-image: url(../Images/wang-xi-RTrZvGlvlQc-unsplash.jpg);
    }
    8.33% {
      background-image: url(../Images/eco.jpg);
    }
    16.67% {
      background-image: url(../Images/roomview.jpg);
    }
    25% {
      background-image: url(../Images/negombo-del.jpg);
    }
    33.33% {
      background-image: url(../Images/negombo-eco.jpg);
    }
    41.67% {
      background-image: url(../Images/riverston-eco.jpg);
    }
    50% {
      background-image: url(../Images/riverston-del.jpg);
    }
    58.33% {
      background-image: url(../Images/pool.jpg);
    }
    66.67% {
      background-image: url(../Images/pool2.jpg);
    }
    75% {
      background-image: url(../Images/pool3.jpg);
    }
    83.33% {
      background-image: url(../Images/negdel.jpg);
    }
    91.67% {
      background-image: url(../Images/rivdel.jpg);
    }
  }

  #aura-ad{
    color: #f5f5f5;
    height:100vh;
    border: 1px solid rgb(0, 0, 0);
    padding: 25px;
    background:url(../Images/cutpic.jpg);
    background-repeat: no-repeat;
    background-size: 1520px 880px;
    
  }

  #advent{
    font-family: 'Roboto', sans-serif;
    background-color: #0000008c;
    font-size: 55px;
    color: #f5f5f5;
  }

  #adventexp{
    background-color: #0000008c;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
  }

  #aura-fd{
    color: #f5f5f5;
    height:100vh;
    border: 1px solid rgb(0, 0, 0);
    padding: 25px;
    background:url(../Images/food1.jpg);
    background-repeat: no-repeat;
    background-size: 1520px 880px;
    
  }
  #indexfood{
    background-color: #0000008c;
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
  }
  #foodexp{
    background-color: #0000008c;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
  }

  #welcome{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 59px;
    
  }

  #welcome-p{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }

  #welcome-p2{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
  
  
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333; 
    margin-bottom: 10px;
  }
  
  h2 {
    font-family: "Playfair Display", serif;
    color: #333; 
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    color: #555;
  }
  
  @media only screen and (max-width: 767px) {
    #home h2 {
      font-size: 24px;
    }
    
    #home p {
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #home h2 {
      font-size: 32px;
    }
    
    #home p {
      font-size: 18px;
    }
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }
  
  #home {
    background-color: #0000007b;
    padding: 20px;
  }
  
  .fut {
    display: block;
    max-width: auto;
    height: auto;
  }
  
  @media only screen and (max-width: 767px) {
    .fut {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .fut {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .fut {
      max-width: 100%;
      height: auto;
    }
  }
  
  /*About Page*/

  #about {
    height:100vh;
    border: 1px solid black;
    padding: 25px;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.3)),url(../Images/roomview.jpg);
    background-repeat: no-repeat;
    background-size: 1520px 880px;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .image {
    width: 48%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out; 
  }
  
  .image img {
    width: 100%;
  }
  
  .label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    margin: 0;
    text-align: center;
  }
  
  
  .image:hover {
    transform: scale(1.15);
  }
  
  

  #eco {
    height:100vh;
    border: 1px solid rgba(0, 0, 0, 0.502);
    padding: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3)),url(../Images/eco.jpg);
    background-repeat: no-repeat;
    background-size: 1520px 880px;
  }
  
  #eco-room{
    color: #acffb7b7;
    background-color: #0000008c;
    font-family:'Roboto', sans-serif;
    font-size: 33px;
  }
  

  #abt-deluxe{
    color: #f5f5f5;
  
    background-color: #0000000a;
    font-family:'Roboto', sans-serif;
    font-size: 52px;
  }

  #abt-deluxe-{
    color: #f5f5f5;
    background-color: #0000008c;
    font-family:'Roboto', sans-serif;
    font-size: 40px;
  }
  

  #abt-eco-{
    color: #f5f5f5;
    background-color: #0000008c;
    font-family:'Roboto', sans-serif;
    font-size: 40px;
  }

  #abt-eco{
    color: #f5f5f5;
    background-color: #0000008c;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
  }
  

  #about p {
    font-size: 20px; 
  }
  
  #about ul {
    list-style-type: none;
    font-size: 24px; 
    padding-left: 20px;
  }
  
  #about ul li {
    margin-bottom: 10px;
    color: #ffffff;
    font-family: "Pronto", sans-serif;
    font-size: 24px;
    text-align: left; 
  }
  
  #about ul li a {
    color: #333; 
    text-decoration: none; 
  }

  #deluxe{
    color: #f49b00b7;
    background-color: #0000008c;
    font-family:'Roboto', sans-serif;
    font-size: 33px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #about h2 {
      font-size: 32px;
    }
    
    #about p {
      font-size: 18px;
    }
    
    #about ul li {
      font-size: 22px;
    }
  }
  
  #about ul li img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 10px auto; 
    max-width: 500px; 
  }
  
  @media only screen and (max-width: 767px) {
    #about ul li img {
      max-width: 100%; 
    }
  }
  
  
  
/*CONTACT PAGE*/

  #contact {
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.3)),url(../Images/contact-bg.png);
    padding: 20px;
  }

  #contactus {
    color: #f5f5f5;
  }
  
  #contact label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #ddd;
    color: #ffffff;
  }
  
  #contact textarea {
    height: 100px;
  }
  
  #contact input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  #contact input[type="submit"]:hover {
    background-color: #2200ff;
  }
  
  @media only screen and (max-width: 767px) 
    {#contact input[type="text"],
    #contact input[type="email"],
    #contact textarea
    }

   /*ADVENTURES PAGE*/

  #adv{ background-color: #000000;
    font-family: Arial, sans-serif;
      }

  #adventures{
    background-color: #2c2c2c;
    background-image: url('../Images/jelly4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #adv-bg{
    height:100vh;
    border: 1px solid black;
    padding: 25px;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.3)),url(../Images/jelly3.jpg);
    background-repeat: no-repeat;
    background-size: 1520px 880px;
    
  }
  
  #txt{ 
    background-color: #00000048;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(255, 255, 255)
  }
  #grid {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block; 
    margin: 0;
    padding: 0; 
    overflow: hidden;
  }

  #water { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f5f5f5;
    line-height: 1.7;
    margin-top: 90px;
    background-color: #00000048;
  }
  
  #page {
    margin-top: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 85px;
    color: #f5f5f5;
    text-align: center;
    background-color: #00000048;
    
  }

  #topic {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f5f5f5;
    text-align: left;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 100px;
    background-color: #00000048;
  }

  #negombo {
    margin-bottom: 20px;
   align-self: center;
  }

  #raft-bg{
    height:100vh;
    border: 1px solid black;
    padding: 25px;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.3)),url(../Images/vibe.jpg);
    background-repeat: no-repeat;
    background-size: 1520px 880px;
    
  }

  #riverston {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: #f5f5f5;
  }
  #rafting{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f5f5f5;
  }
  #raftingtxt{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f5f5f5;
  }

/* Branches Page*/

#branch-h1{
  color: #ffffff;
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
  }


#neg-bg{
  height:100vh;
  border: 1px solid black;
  padding: 25px;
  background: linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.3)),url(../Images/hotel-over.jpg);
  background-repeat: no-repeat;
  background-size: 1520px 880px;
  
}

#riv-bg{
  height:100vh;
  border: 1px solid black;
  padding: 25px;
  background: linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.3)),url(../Images/river-over.jpg);
  background-repeat: no-repeat;
  background-size: 1520px 880px;
}

#abt-neg{
  color: #ffffff;
  font-size: 20px;
}

/*footer*/

.footer {
  background: linear-gradient(to right, #000066, #0077b6);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

#futlogo {
  display: block;
  margin: 0 auto;
}

.left {
  text-align: left;
  float: left;
  width: 30%;
  margin-top: 20px; 
}

.middle {
  text-align: center;
  float: left;
  width: 30%;
  margin-top: 10px;
}

.contact-info {
  margin-top: 10px; 
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.email {
  font-size: 20px;
  clear: both;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bottom {
  clear: both;
  text-align: center;
  margin-top: 20px;
}

.branch {
  margin-top: 76px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*Deluxe Room*/

#coverimg {
  height: 100vh;
  border: 1px solid black;
  padding:auto;
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.3)), url(../Images/wang-xi-RTrZvGlvlQc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 1520px 880px;
  animation: backgroundSlide 39s linear infinite;
}

@keyframes backgroundSlide {
  0%, 100% {
    background-image: url(../Images/wang-xi-RTrZvGlvlQc-unsplash.jpg);
  }
  8.33% {
    background-image: url(../Images/eco.jpg);
  }
  16.67% {
    background-image: url(../Images/roomview.jpg);
  }
  25% {
    background-image: url(../Images/negombo-del.jpg);
  }
  33.33% {
    background-image: url(../Images/negombo-eco.jpg);
  }
  41.67% {
    background-image: url(../Images/riverston-eco.jpg);
  }
  50% {
    background-image: url(../Images/riverston-del.jpg);
  }
  58.33% {
    background-image: url(../Images/pool.jpg);
  }
  66.67% {
    background-image: url(../Images/pool2.jpg);
  }
  75% {
    background-image: url(../Images/pool3.jpg);
  }
  83.33% {
    background-image: url(../Images/negdel.jpg);
  }
  91.67% {
    background-image: url(../Images/rivdel.jpg);
  }
}

#delexp{
  height:100vh;
  border: 1px solid black;
  padding: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.655),rgba(0, 0, 0, 0.479)),url(../Images/pool.jpg);
  background-repeat: no-repeat;
  background-size: 1520px 880px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 50px;
}
#delexp img {
  margin-top: 60px;
  margin-left: 210px;
  display: block;
}

#title{
  background-color: #0000009d;
  font-size: 48px;
  color: #e3fffe;
  text-align: center;
}

#fancy{
  background-color: #0000009d;
  color: #bf6c00;
  font-size: 80px;
  text-align: center;
}

#logoroom{
  background-color: #0000009e;
    text-align: center;
    color: #fff;
}


/* Booking Page */

.center-container {
  display: flex;
  justify-content: center;
  background-color: #000000a5;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(6, 0, 176);
  color: white;
  border: 1px solid #0052a9;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0029b1; 
}

.booking-button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}

.booking-button img {
  width: 170px;
  height: auto;
  transition: transform 0.3s ease;
}

.booking-button img:hover {
  transform: scale(1.1);
}


#bukbody{
  background: linear-gradient(to right, #000066, #0077b6);
}

.guest-section-container {
  display: flex;
  margin-top: 20px; 
}

.guest-section {
  flex: 1;
  padding: 10px;
  border: 1px solid #cccccc00;
  box-sizing: border-box;
  margin: 0 10px;
}

.room-section-container {
  display: flex;
}

.room-section {
  flex: 1;
  padding: 10px;
  border: 1px solid #cccccc00;
  box-sizing: border-box;
  margin: 0 10px;
}


.beds {
  margin-top: 20px;
  margin-bottom: 50px;
}

.room{
  background-color: rgb(13, 2, 79);
}

.roombook{
  color: #000000;
  text-underline-position: below;
}

@media screen and (min-width: 768px) {
  #booking-form {
      max-width: 1750px;
  }
}


label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}


input[type="submit"]:hover {
  background-color: #0056b3;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #3a9051;
}


/*riverston deluxe*/

#rivdelexp{
  height:100vh;
  border: 1px solid black;
  padding: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.655),rgba(0, 0, 0, 0.479)),url(../Images/pool3.jpg);
  background-repeat: no-repeat;
  background-size: 1520px 880px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 50px;
}

#rivdelexp img {
  margin-top: 60px;
  margin-left: 210px;
  display: block;
}

/*negombo eco*/

#mono{
  background-color: #0000009d;
  color: #009d15;
  font-size: 80px;
  text-align: center;
}

#negecoexp{
  height:100vh;
  border: 1px solid black;
  padding: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.655),rgba(0, 0, 0, 0.479)),url(../Images/riverston-eco.jpg);
  background-repeat: no-repeat;
  background-size: 1520px 880px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 50px;
}

#negecoexp img {
  margin-top: 60px;
  margin-left: 210px;
  display: block;
}
/*riverston eco*/

#rivecoexp{
    height:100vh;
    border: 1px solid black;
    padding: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.655),rgba(0, 0, 0, 0.479)),url(../Images/riverston-eco.jpg);
    background-repeat: no-repeat;
    background-size: 1520px 880px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
  }


#rivecoexp img {
  margin-top: 10px;
  margin-left: 210px;
  display: block;
}

/*restaurant*/

#top{
  color: floralwhite;
  background-color: #00000087;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 59px;
}

#rest{
  height:100vh;
  border: 1px solid black;
  padding: 25px;
  background: linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.3)),url(../Images/rest.png);
  background-repeat: no-repeat;
  background-size: 1520px 880px;
}

#gama{
  height:100vh;
  border: 1px solid black;
  padding: 25px;
  background: linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.3)),url(../Images/sl.jpg);
  background-repeat: no-repeat;
  background-size: 1520px 880px;
}

#pizza{
  height:100vh;
  border: 1px solid black;
  padding: 25px;
  background: linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.3)),url(../Images/pizza.jpg);
  background-repeat: no-repeat;
  background-size: 1520px 880px;
}

#western{
  height:100vh;
  border: 1px solid black;
  padding: 25px;
  background: linear-gradient(rgba(0,0,0,0.50),rgba(0, 0, 0, 0.3)),url(../Images/west.jpg);
  background-repeat: no-repeat;
  background-size: 1520px 880px;
}

#fud{
  background-color: #0000007f;
  color: floralwhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  line-height: 40px;
}
/*iug*/

.card-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 117%; 
  right: 133px;
  transform: translateY(-50%);
  width: 80%;
  padding: 0 9px; 
}

.card {
  flex: 0 0 calc(38% - 20px); 
  height: 280px;
  background-color: #000e48b6; 
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  text-align: center;
}


.card:hover {
  transform: scale(1.1);
}


.card-content1
.card-content2 {
  color: white;
  text-align: center;
  padding: 20px;
}

.card h2 {
  color: white;
  font-size: 30px;
  margin: 0;
}

.card p {
  color: rgb(218, 218, 218);
  font-size: 23px;
  margin: 0;
}

.advbuk{
  background: linear-gradient(to right, #000066, #0077b6);
 
 text-align: center;
}
